<!DOCTYPE html>
<html lang="en" ng-app="myMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/ng-grid.css">
    <style>
        .gridStyle {
            width: 1200px;
            margin: 20px auto;
            height: 200px;
        }

        .btn-primary {
            margin-left: 500px;
        }
    </style>
</head>
<body>

<div ng-controller="myCtrl">
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <input type="button" value="提交" ng-click="getInfo()" class="btn btn-primary">
</div>
<script src="js/jquery.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/ng-grid.js"></script>
<script type="text/javascript" charset="utf-8">
    var myMod = angular.module('myMod', ['ngGrid']);
    myMod.controller('myCtrl', ["$scope", "$http", "$sce", function ($scope, $http, $sce) {
        $scope.types = ["text", "radio", "checkbox"];
        $http.get('./data/nggrid.json').success(function (data) {
            $scope.user = angular.fromJson(data);
        });
        $scope.gridOptions = {
            data: 'user',
            enableRowSelection: false,
            multiSelect: false,
            enableCellSelection: true,
            enableCellEdit: true,
            enablePinning: false,
            showSelectionCheckbox: true,
            columnDefs: [
                {
                    field: 'id',//数据中的属性名
                    displayName: '序号' // 表头显示的内容
                },
                {
                    field: 'type',
                    displayName: '类型'
                },
                {
                    field: 'time',
                    displayName: '时间'
                },
                {
                    field: 'name',
                    displayName: '姓名'
                },
                {
                    field: 'autoCheck',
                    displayName: '自动审核'
                },
                {
                    field: 'rule',
                    displayName: '规则'
                },
                {
                    field: 'dh_content',
                    displayName: '样式',
                    //  cellTemplate:'<div>{{angular.toJson(row)}}</div> '

//                   cellTemplate:'<span class="ui-grid-cell-contents" ng-repeat="aa in radios"><input type="radio"/>{{aa}}</span>' //这是适合于一种的情况下

//                    cellTemplate: '<input id="editBtn" type="radio" class="btn-small" ng-click="grid.appScope.edit(row.entity)" >{{}}</input> '
                    // cellTemplate:'<div>{{row.rowIndex}}</div>'//  获取到当前行的索引
                    cellTemplate: '<div ng-bind-html="row|typeFormatter:row.rowIndex"></div>'// 使用过滤器进行过滤
                }
            ]
        };

        $scope.pagingOptions = {
            pageSizes: [2, 4, 6],//定义下拉框的内容 ，显示当前页的数据个数
            pageSize: 2,//定义默认下拉框的内容
            currentPage: 1,//定义默认当前页
        };
        $scope.getInfo = function (index) {
            var aryRadio=[];
           //在我执行这个函数的时候，页面已经根据不同的模板进行绑定，那么怎么样才能获取到这些页面中的东西呢？数据还是原来的数据，只不过是表现出的形式不一样，那么久要根据他们的不同形式来进行获取数据
            console.log($("input"));
            console.log()

//            console.info( $scope.user);
            //获取文本节点了，不是获取当前数据了。
//            for (var i = 0; i < $scope.user.length; i++) {
//
//                if ($scope.user[i].dh_type == "0") {
//                    //如果类型是0，那么我就获取当前文本框中的内容；
////                    console.log($("input:text")[1].value)
//                    $scope.user[i].dh_content=$("input:text")[1].value;
//
//                } else if ($scope.user[i].dh_type == "1") { //这是每一条数据，这个数据是一个对象，但是每次循环都有可能有一条，怎么把各自的分成各自的
//                          aryRadio.push($scope.user[i]);
//                    for(j=0;j<aryRadio.length;j++){
//                        $scope.user[i].dh_con=$("input:radio:checked").val();
//                    }
//
//
//                } else if ($scope.user[i].dh_type == "2") {
////                        var obj=$scope.user[i] ;//这里指的是我的当前的这条数据
//                       // console.log($("input:checkbox:checked")[9].value); //获取到当前的多选框的这一条的数据
//                    //console.log($("input:checkbox:checked").splice(8));//除掉默认的几个数据之后的选中的数据
//                    var aryList=$("input:checkbox:checked").splice(8)
//                        var ary=[];
//                        for(var key in aryList ){
//                            if(aryList[key].checked){
//                                ary.push(aryList[key].value)
//                            }
//                        }
//
//                    $scope.user[i].aaa=ary;
//
//                }
//            }
//            console.log($scope.user)
//            return $scope.user
        };

    }])
    myMod.filter('typeFormatter', function ($sce) {
        return function (data) {
            var str = "";
            var dh_type = data.getProperty('dh_type');
            var dh_content = data.getProperty('dh_content');
            if (dh_type == 0) {
                str = '<input type="text" value="' + dh_content + '" ng-model="name1"/>';

            } else if (dh_type == 1) {
                var radios = dh_content.split('_');
                for (var j = 0; j < radios.length; j++) {
                    str += '<input type="radio" value="'+radios[j]+'" name="content' + data.rowIndex + '"/>' + radios[j]
                }
            } else if (dh_type == 2) {
                var checkboxs = dh_content.split('_');
                for (var i = 0; i < checkboxs.length; i++) {
                    str += '<input type="checkbox" value="'+checkboxs[i]+'"/>' + checkboxs[i]
                }
            }
            return $sce.trustAsHtml(str);
        }
    });

</script>

</body>
</html>