<div class="right"  >
  <div>
      <p class="title_rule">规则集</p>
      <div class="put" id="put" name="test">
            <div class="follow">
                <input type="button" value="添加" ng-click="">
            </div>
            <div class="warnBorder">
              <span class="close">关闭</span>
            </div>
          <span></span>
      </div>
      <p class="title_rule">规则</p>
      <div class="largePut">
          <span></span><span></span> <span></span>
      </div>
  </div>
</div>
<!--<script>-->
    <!--$("#put").mousedown(function (e) {-->
        <!--e=e||window.event;-->
        <!--if(e.which== '3'){-->
            <!--$(".follow")[0].style.display="block";-->
            <!--$(".follow")[0].style.left=parseFloat(e.pageX-80)+"px";-->
            <!--$(".follow")[0].style.top=parseFloat(e.pageY-70)+"px";-->
        <!--}-->
        <!--if(e.which== '1'){-->
            <!--$(".follow")[0].style.display="none";-->
            <!--if(e.target.tagName.toLowerCase()=="input"){-->
                <!--$(".warnBorder")[0].style.display="block";-->
                <!--$(".close").click(function () {-->
                    <!--$(".warnBorder")[0].style.display="none";-->
                <!--})-->
                <!--e.stopPropagation()-->
            <!--}-->
        <!--}-->
       <!--$(document).bind("contextmenu",function (e) {-->
           <!--return false-->
       <!--});-->

    <!--})-->

<!--</script>-->
