<div class="bMap_addChase" >
    <div class="addChase-right common-right">
        <div class="detail-chase-record">
            <div class="addChase-right-tit">
                <div class="tit">
                    <h5>暗访详情</h5>
                    <a href="#/profileData/customer" class="back"><span class="icon icon-back"></span>返回上一级</a>
                </div>
            </div>
            <div class="guestInfo">
                <div class="guestInfo-title"><h4>客户信息</h4></div>
                <ul>
                    <li><span>车牌号码：</span> <span>24255</span></li>
                    <li><span>车型：</span> <span>大卡车</span></li>
                    <li><span>所属组织：</span> <span>车贷管家</span></li>
                    <li><span>业务经理：</span> <span>24255</span></li>
                    <li><span>客户信息：</span> <span>24255</span></li>
                    <li><span>联系方式：</span> <span>24255</span></li>
                </ul>
                <div><img src="./images/exception.png" alt="异常" style="position: absolute;right:100px;top:70px;"></div>
            </div>
            <div class="chaseInfo">
                <div class="guestInfo-title"><h4>追车及追车描述</h4></div>
                <div class="chase-edit">
                    <ul>
                        <li><span>暗访时间：</span> <span> 2017-01-19	</span></li>
                        <li><span>暗访人员：</span> <span> 白晓晨		</span></li>
                        <li><span>暗访结果：</span> <span>   异常</span></li>
                    </ul>
                </div>
                <ul style="margin-top: 20px">
                    <li><span>车牌号码：</span> <span>24255</span></li>
                    <li><span>车型：</span> <span>大卡车</span></li>
                    <li><span>所属组织：</span> <span>车贷管家</span></li>
                    <li><span>业务经理：</span> <span>24255</span></li>
                    <li><span>客户信息：</span> <span>24255</span></li>
                    <li><span>联系方式：</span> <span>24255</span></li>
                </ul>

            </div>

        </div>

    </div>
</div>