<div class="menu-left-wrap">
    <div class="menu-left-box">
        <div class="menu-btn">
            <span class="icon icon-menu"></span>
        </div>
        <ul id="menuList" class="menu-first">
            <li id="riskManager">
                <a id="base1" class="menu-first-tit" href="javascript:;" style="background-color: rgb(34, 40, 46); border: none;">
                    <span class="icon icon-down mr5" style="transform: rotate(0deg);"></span>
                    <span class="nav-tit">风控服务</span>
                </a>
                <ul class="menu-second" id="risk_center" style="display: block;">
                    <li>
                        <a id="riskCenter4" class="">
                            <span class="icon icon-state" ></span>
                            <span class="nav-tit">资产状态</span>
                        </a>
                    </li>
                    <li>
                        <a id="riskCenter5">
                            <span class="icon icon-location" ></span>
                            <span class="nav-tit">位置跟踪</span>
                        </a>
                    </li>
                    <li>
                        <a id="riskCenter6" >
                            <span class="icon icon-trend"></span>
                            <span class="nav-tit">趋势分析</span>
                        </a>
                    </li>
                    <li>
                        <a id="riskCenter7">
                            <span class="icon icon-tongji"></span>
                            <span class="nav-tit">报表统计</span>
                        </a>
                    </li>
                    <li>
                        <a id="riskCenter8" >
                            <span class="icon icon-zhuiche"></span>
                            <span class="nav-tit">暗访追车</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="dataCenter"><a id="base2" class="menu-first-tit" href="javascript:;"
                                   style="background-color: rgb(34, 40, 46); border: none;"><span
                    class="icon icon-down mr5" style="transform: rotate(0deg);"></span><span class="nav-tit">数据中心</span></a>
                <ul class="menu-second" id="data_center" style="display: block;">
                    <li>
                        <a id="datacenter10">
                            <span class="icon icon-shuju"></span>
                            <span class="nav-tit">数据概览</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter11">
                            <span class="icon icon-customer"></span>
                            <span class="nav-tit">客户管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter12"class="">
                            <span class="icon icon-device"></span>
                            <span class="nav-tit">设备中心</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter15">
                            <span class="icon icon-area"></span>
                            <span class="nav-tit">区域管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter16">
                            <span class="icon icon-event" ></span>
                            <span class="nav-tit">事件中心</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="userCenter">
                <a id="base3" class="menu-first-tit" href="javascript:;">
                    <span class="icon icon-down mr5"></span>
                    <span class="nav-tit">用户中心</span>
                </a>
                <ul class="menu-second" id="user_center">
                    <li>
                        <a id="datacenter17" >
                            <span class="icon icon-account" ></span>
                            <span class="nav-tit">帐号管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter19" class="on">
                            <span class="icon icon-message" ></span>
                            <span class="nav-tit">公告通知</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter20">
                            <span class="icon icon-manage" ></span>
                            <span class="nav-tit">工单管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="datacenter21">
                            <span class="icon icon-train" ></span>
                            <span class="nav-tit">培训中心</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="menu-left-wrap">
    <ul>
        <li><a href="/1">资产状态</a></li>
        <li><a href="/2">位置跟踪</a></li>
        <li><a href="/3">趋势分析</a></li>
        <li><a href="/4">暗访追车</a></li>
 </ul>
</div>