<div class="right">
    <div>
        <p class="title_rule" id="title_rule">规则集</p>
        <div class="put" id="put" name="addRule">
            <div class="follow">
                <input type="button" value="添加">
            </div>
            <div class="warnBorder"></div>
        </div>
        <p class="title_rule">规则</p>
        <div class="largePut" name="addEvent">
            <div class="follow">
                <input type="button" value="添加新规则">
                <input type="button" value="从已有规则选择">
            </div>

        </div>

    </div>
</div>
