<div class=" state-content">
    <div class="mem-tip">
        <p>车贷管家云风控平台已累计帮助会员监管367890辆汽车资产，并已经构建收入5872条敏感区域数据的地理信息库，89080条事件的风险数据库</p>
    </div>
    <div class="ind-left col-md-9">
        <div class="userInfo">
            <div class="f1">
                <p class="user">Hi, testuser</p>
                <img src="./images/2016_8_17_1442580203.jpg" alt="二维码" realSrc="../images/2016_8_17_1442580203.jpg">
                <div class="f1-user">
                    <p><span>所属组织：</span><span>车贷管家</span></p>
                    <p><span>账号角色：</span><span>公司领导</span></p>
                    <p><span>上次登录时间：2017-01-09 21:38</span></p>
                </div>

            </div>
            <div class="fenkong">
                <div class="col-md-2"><img src="./images/moneys.png" alt="微信" realSrc="./images/moneys.png"></div>
                <div  class="fengkong-info col-md-10">
                    <p>
                        <i class="circle"></i>新形势下投资人挑选P2P平台应该关注哪些方面？
                        <span title="进入2016年以来，国内P2P行业就掀起了一场前所未有的互联网金融专项整治运动。在持续收紧、不断发力的监管强压下，P2P行业整体形势动荡不已，一时间投资人看P2P行业也变得更加模糊了。从风险类型来看，今年的形势比往年更为复杂，过去几年不管是倒闭潮、跑路潮，还是诈骗潮，风险类型都趋向单一化，但今年由于监管介入，行业趋于规范的同时，风险也呈现出前所未有的多样化特征，部分类型的风险更是在投资人意料之外的。换言之，P2P行业的整体局势仍是复杂多变的，那么投资人在挑选平台时候，应该重点关注哪些方面，才能最大程度地避开雷区呢？">
                            进入2016年以来，国内P2P行业就掀起了一场前所未有的互联网金融专项整治运动。在持续收紧、不断发力的监管强压下，P2P行业整体形势动荡不已，一时间投资人看P2P行业也变得更加模糊了。从风险类型来看，今年的形势比往年更为复杂，过去几年不管是倒闭潮、跑路潮，还是诈骗潮，风险类型都趋向单一化，但今年由于监管介入，行业趋于规范的同时，风险也呈现出前所未有的多样化特征，部分类型的风险更是在投资人意料之外的。换言之，P2P行业的整体局势仍是复杂多变的，那么投资人在挑选平台时候，应该重点关注哪些方面，才能最大程度地避开雷区呢？
                        </span>
                    </p>
                    <p>
                        <i class="circle"></i> 消费金融的潜力
                        <span title="近年，政府数次强调发展消费金融业务，随着征信体系渐趋完善，消费金融市场正迎来">近年，政府数次强调发展消费金融业务，随着征信体系渐趋完善，消费金融市场正迎来</span>
                    </p>
                </div>
            </div>
            <div class="datas-show">
                <ul>
                    <li>
                        <p>1</p>
                        <p>历史累计客户</p>
                    </li>
                    <li>
                        <p>1</p>
                        <p>历史累计客户</p>
                    </li>
                    <li>
                        <p>1</p>
                        <p>历史累计客户</p>
                    </li>
                    <li>
                        <p>1</p>
                        <p>历史累计客户</p>
                    </li>
                    <li>
                        <p>1</p>
                        <p>历史累计客户</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="canvas"></div>
        <div class="num-show"></div>
    </div>
    <div class="ind-right col-md-3">
        <div>数据走势</div>
    </div>


</div>
