<div class="menu-left-wrap">
    <div class="menu-left-box">
        <div class="menu-btn">
            <span class="icon icon-menu"></span>
        </div>
        <ul id="menuList" class="menu-first">
            <li id="riskManager"><a id="base1" class="menu-first-tit" href="javascript:;"
                                    style="background-color: rgb(34, 40, 46); border: none;"><span
                    class="icon icon-down mr5" style="transform: rotate(0deg);"></span><span class="nav-tit">风控服务</span></a>
                <ul class="menu-second" id="risk_center" style="display: block;">

                    <li><a id="riskCenter4"
                           href="javascript:rightFrameTo(&#39;/risk-manager/assetStatus/assetStatus.html&#39;,&#39;riskCenter4&#39;)"
                           class=""><span class="icon icon-state" icon="" icon-location"=""></span><span
                            class="nav-tit">资产状态</span></a></li>
                    <li><a id="riskCenter5"
                           href="javascript:rightFrameTo(&#39;/monitor/position.html&#39;,&#39;riskCenter5&#39;)"
                           class=""><span class="icon icon-location" icon="" icon-location"=""></span><span
                            class="nav-tit">位置跟踪</span></a></li>
                    <li><a id="riskCenter6"
                           href="javascript:rightFrameTo(&#39;/analysis/analysisMain.html&#39;,&#39;riskCenter6&#39;)"
                           class=""><span class="icon icon-trend" icon="" icon-location"=""></span><span
                            class="nav-tit">趋势分析</span></a></li>
                    <li><a id="riskCenter7"
                           href="javascript:rightFrameTo(&#39;/risk-manager/report/reportMain.html&#39;,&#39;riskCenter7&#39;)"
                           class=""><span class="icon icon-tongji" icon="" icon-location=""></span><span
                            class="nav-tit">报表统计</span></a></li>
                    <li><a id="riskCenter8"
                           href="javascript:rightFrameTo(&#39;/risk-manager/investigation/riskMain.html&#39;,&#39;riskCenter8&#39;)"
                           class=""><span class="icon icon-zhuiche" icon="" icon-location=""></span><span
                            class="nav-tit">暗访追车</span></a></li>
                </ul>
            </li>
            <li id="dataCenter"><a id="base2" class="menu-first-tit" href="javascript:;"
                                   style="background-color: rgb(34, 40, 46); border: none;"><span
                    class="icon icon-down mr5" style="transform: rotate(0deg);"></span><span class="nav-tit">数据中心</span></a>
                <ul class="menu-second" id="data_center" style="display: block;">

                    <li><a id="datacenter10"
                           href="javascript:rightFrameTo(&#39;/datacenter/data_view.html&#39;,&#39;datacenter10&#39;)"
                           class=""><span class="icon icon-shuju" icon="" icon-location=""></span><span class="nav-tit">数据概览</span></a>
                    </li>
                    <li><a id="datacenter11"
                           href="javascript:rightFrameTo(&#39;/datacenter/customer/customer_list.html&#39;,&#39;datacenter11&#39;)"
                           class=""><span class="icon icon-customer" icon="" icon-location=""></span><span
                            class="nav-tit">客户管理</span></a></li>
                    <li><a id="datacenter12"
                           href="javascript:rightFrameTo(&#39;/datacenter/equipmentCenter/equipmentMain.html&#39;,&#39;datacenter12&#39;)"
                           class=""><span class="icon icon-device" icon="" icon-location=""></span><span
                            class="nav-tit">设备中心</span></a></li>
                    <li><a id="datacenter15"
                           href="javascript:rightFrameTo(&#39;/datacenter/area/areaMain.html&#39;,&#39;datacenter15&#39;)"
                           class=""><span class="icon icon-area" icon="" icon-location=""></span><span class="nav-tit">区域管理</span></a>
                    </li>
                    <li><a id="datacenter16"
                           href="javascript:rightFrameTo(&#39;/datacenter/event/event_list.html&#39;,&#39;datacenter16&#39;)"
                           class=""><span class="icon icon-event" icon="" icon-location=""></span><span class="nav-tit">事件中心</span></a>
                    </li>
                </ul>
            </li>
            <li id="userCenter"><a id="base3" class="menu-first-tit" href="javascript:;"><span
                    class="icon icon-down mr5"></span><span class="nav-tit">用户中心</span></a>
                <ul class="menu-second" id="user_center">
                    <!--  <li><a href="#"><span class="icon icon-account"></span><span class="nav-tit">帐号管理</span></a></li>
                    <li><a href="#"><span class="icon icon-money"></span><span class="nav-tit">费用中心</span></a></li>
                    <li><a href="#"><span class="icon icon-message"></span><span class="nav-tit">消息中心</span></a></li>
                    <li><a href="#"><span class="icon icon-manage"></span><span class="nav-tit">工单管理</span></a></li>
                    <li><a href="#"><span class="icon icon-train"></span><span class="nav-tit">培训中心</span></a></li>
                    <li><a href="#"><span class="icon icon-log"></span><span class="nav-tit">操作日志</span></a></li>-->
                    <li><a id="datacenter17"
                           href="javascript:rightFrameTo(&#39;/userCenter/account/accountMain.html&#39;,&#39;datacenter17&#39;)"
                           class=""><span class="icon icon-account" icon="" icon-location=""></span><span
                            class="nav-tit">帐号管理</span></a></li>
                    <li><a id="datacenter19"
                           href="javascript:rightFrameTo(&#39;/userCenter/messageCenter/msgmain.html&#39;,&#39;datacenter19&#39;)"
                           class="on"><span class="icon icon-message" icon="" icon-location=""></span><span
                            class="nav-tit">公告通知</span></a></li>
                    <li><a id="datacenter20"
                           href="javascript:rightFrameTo(&#39;/userCenter/workSheet/list.html&#39;,&#39;datacenter20&#39;)"
                           class=""><span class="icon icon-manage" icon="" icon-location=""></span><span
                            class="nav-tit">工单管理</span></a></li>
                    <li><a id="datacenter21"
                           href="javascript:rightFrameTo(&#39;/userCenter/trainingCenter/main.html&#39;,&#39;datacenter21&#39;)"
                           class=""><span class="icon icon-train" icon="" icon-location=""></span><span class="nav-tit">培训中心</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="menu-left-wrap">
    <ul>
        <li><a href="/1">资产状态</a></li>
        <li><a href="/2">位置跟踪</a></li>
        <li><a href="/3">趋势分析</a></li>
        <li><a href="/4">暗访追车</a></li>









    </ul>
</div>