<div id="page" class="rule" name="page" ng-controller="myRule">
    <h3><a class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-home" ng-click="shouRule()"></span>
    </a>规则<span class="glyphicon glyphicon-th-list" style="position: absolute;top:10px;"></span></h3>
    <ul>
        <li style="background: lightgreen">规则管理</li>
        <li>规则集管理</li>
        <li>商户业务类型设置</li>
        <li>业务类型</li>
    </ul>
    <div class="container page1" style="display:block">
        <label>规则状态：
            <input type="radio" name="status">全部
            <input type="radio" name="status">启用
            <input type="radio" name="status">停用
        </label>
        <label>名称：<input type="text" ></label>
        <label ><span></span><input type="button" value="查询"></label>
        <label ><span></span><input type="button" value="清空"></label>
        <h5>规则</h5>
        <label><span>+++</span><input class="ruleAdd" name="ruleAdd" type="button" value="增加" ng-click="editRule()"></label>
        <div class="addRuleInfo">
            <span class="left">放大镜</span>
            <span class="right">关闭</span>
            <div class="write">
                <div class="write_1">
                    <label class="refer"> <input type="button" value="提交" class="btn btn-primary" ng-click="refer()"></label>
                    <label class="getBack"> <input type="button" value="返回" class="btn btn-info"></label>
                </div>
                <div class="write_2">
                    <label class="name">规则名称：<input type="text" placeholder="请填写规则名称" ng-model="name"></label>
                    <label class="proportion">权重：<input type="text" placeholder="请填写权重" ng-model="proportion"></label>
                    <label class="describe">描述：<input type="text" placeholder="请填写规则描述" ng-model="describe"></label>
                </div>

                <div class="write_3">
                    <span>*业务类型：</span>
                    <label><input type="radio" name="status1" checked>启用</label>
                    <label><input type="radio" name="status1">停用</label>
                </div>

            </div>
        </div>
        <div class="table-responsive">
            <table class="table ">
                <tr class="warning">
                    <th >序号</th>
                    <th>名称</th>
                    <th>权重</th>
                    <th>描述</th>
                    <th>规则状态</th>
                    <th>逻辑设置</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                <tr ng-repeat="rule in rules" class="success">
                    <td >{{rule.id}}</td>
                    <td>{{rule.name}}</td>
                    <td>{{rule.proportion}}</td>
                    <td>{{rule.describe}}</td>
                    <td>{{rule.ruleStatus}}</td>
                    <td><a href="javascript:;">{{rule.logic}}</a></td>
                    <td><a href="javascript:;">{{rule.edit}}</a></td>
                    <td><a href="javascript:;">{{rule.delete}}</a></td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container page2" ng-controller="gridCtrl2" style="display: none" >
        <div>
            <label>规则状态：<input type="radio" name="status">启用
                <input type="radio" name="status">禁用
            </label>
            <label style="display:inline-block;margin-left:10px">名称：<input type="text" value="名称"></label>
            <select>
                <option value="">--请选择--</option>
                <option value="">滴滴车分期</option>
            </select>
            <label> <span class="qingkong"></span><input type="button" value="清空"></label>
            <label><span class="chaxun"></span><input type="button" value="查询"></label>
        </div>
        <div>规则集</div>
       <div>
           <label><span>+++</span><input class="ruleAdd" name="ruleAdd" type="button" value="增加" ng-click="editRule()"></label>
       </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
        <div class="addRuleInfo addRuleInfo2" >
            <span class="left">放大镜</span>
            <span class="right">关闭</span>
            <div class="write">
                <div class="write_2">
                    <label class="name">规则名称：<input type="text" placeholder="请填写规则名称" ng-model="name"></label>
                </div>
                <div class="write_3">
                    <span>*业务类型：</span>
                    <select>
                        <option value="">滴滴车分期</option>
                    </select>
                </div>
                <div class="write_4">
                    <span>*是否可用：</span>
                    <label><input type="radio" name="status1">是</label>
                    <label><input type="radio" name="status1">否</label>
                </div>
                <div class="write_5">
                    <span>*业务阶段：</span>
                    <select>
                        <option value="">贷前</option>
                        <option value="">贷中</option>
                        <option value="">贷后</option>
                    </select>
                </div>
                <div class="write_1">
                    <label class="refer"> <input type="button" value="保存" class="btn btn-primary" ng-click="refer()"></label>
                    <label class="getBack"> <input type="button" value="返回" class="btn btn-info"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="container page3" ng-controller="gridCtrl2" style="display: none">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    <div class="container page4" ng-controller="gridCtrl2" style="display: none">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>