<div class="list-group" ng-controller="mySider">
    <ul>
        <li class="list-group-item"  name="cc"  my-cc ui-sref="two({ruleGroup:1})"><a >数<br>据<br>集</a></li>
        <li class="list-group-item" name="cc"   my-cc ui-sref="two({ruleGroup:2})"><a >规<br>则<br>集</a></li>
        <li class="list-group-item" name="cc"  my-cc ui-sref="two({ruleGroup:3})"><a >模<br>型<br>集</a></li>
    </ul>

    <!--<a class="list-group-item" ui-sref="two({ruleGroup:1})" style="height:30%;" name="cc">数<br>据<br>集</a>-->
    <!--<a class="list-group-item" ui-sref="two({ruleGroup:2})" style="height:30%" name="cc">规<br>则<br>集</a>-->
    <!--<a class="list-group-item" ui-sref="two({ruleGroup:3})" style="height:30%" name="cc">模<br>型<br>集</a>-->
</div>
