<form class="form-horizontal ">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2">业务类型:</label>
            <div class="col-md-6">
                <select class="col-md-9" style="height: 30px">
                    <option ng-repeat="type in types track by $index">{{type}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">审核状态:</label>
            <div class="col-md-6">
                <select class="col-md-9" style="height: 30px">
                    <option ng-repeat="sta in stas track by $index">{{sta}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">关键字:</label>
            <input type="text" placeholder="请填写关键字" style="margin-left: 15px;height: 30px" ng-model="value">
            {{value|filter    }}
        </div>
        <div class="form-group times">
            <label class="control-label col-md-2">提交日期:</label>
            <input type="date" style="margin-left: 15px;height: 30px"> 至<input type="date"
                                                                               style="margin-left: 15px;height: 35px">
            <input type="button" class="clear btn-default" value="清空">
            <input type="button" class="found btn-default" value="查询">
        </div>
    </div>
</form>
<div ng-controller="members">
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>