
<div class="wrapContainer">
<div class="wrap" ng-controller="loginCtrl">
    <div class="wrapLogin">
        <h1>Dumai</h1>
        <form>
            <input type="text" placeholder="user login" ng-model="user_name"/>
            <input type="password" placeholder="password" ng-model="user_password"/>
           <input type="submit" value="Login" ng-click="login()"/>
        </form>
    </div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</div>