<!doctype html>
<html id="ng-app">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/ng-grid.css">
    <link rel="stylesheet/less" href="./css/index.less" type="text/less">
</head>
<body>
<div class="rule_title_left">
    <span>用户数：123</span>
    <span>数据流量：456</span>
    <span>资产数量：29</span>
    <div class="rule_title_right">
        <span>业务类型</span>
        <select>
            <option value="房贷">房贷</option>
            <option value="信用贷">信用贷</option>
            <option value="车辆抵押">车辆抵押</option>
        </select>
    </div>

</div>
<div>
    <div ui-view></div>
</div>
<div >
    <nav   id="most">
        <div class="container">
            <div id="list">
                <ul class="nav navbar-nav list_group">
                    <li ng-class="{active:flag=='first'}" ng-click="flag='first'"><a href="#/first" >系统设置</a></li>
                    <li ng-class="{active:flag=='two'}" ng-click="flag='two'"><a href="#/two">用户管理</a></li>
                    <li ng-class="{active:flag=='third'}" ng-click="flag='third'"><a href="#/third">数据源管理</a></li>
                    <li ng-class="{active:flag=='four'}" ng-click="flag='four'"><a href="#/four">规则池管理</a></li>
                    <li ng-class="{active:flag=='system'}" ng-click="flag='system'"><a href="#/system">评分模型</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<script charset="utf-8" type="text/javascript">
    var less={
        env:"development",
        poll:1000
    }
</script>
<script charset="utf-8" type="text/javascript" src="script/lib/less.min.js"></script>
<script charset="utf-8" type="text/javascript" >
    less.watch();
</script>


</body>
</html>
<script type='text/javascript' src='script/lib/require.js' defer async="true" data-main='script/main.js' ></script>